*{
	margin: 0;
  padding: 0;
}
body{
	background-color: #C1C8D6;
}
.container{
  width: 80%;
	margin-left: 10%;
	background-color: #fff;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 0;



}
.nav{
	position: sticky;
	top:5px;
	z-index:3;

}
.nav{
	background-color: #fff;
}

.navbar{
  background-color: #03316F ;
  padding: 5px;
  margin-top: 5px;


}

.navbar ul li{
  list-style: none;
  display: inline-block;
  padding: 5px 50px;
  position: relative;
	text-align: center;
}
.navbar ul li a {
	text-decoration: none;
	color: #fff;
	padding-right: 50px;
  padding-left: 40px;
  font-size: 16px;
  font-family: serif;

}
.navbar ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: #f44336;
	display: block;
	margin: auto;
	transition: 0.5s;

}
.navbar ul li:hover::after{
	width: 60%;

}









.search-bar{
	width: 100%;
	max-width: 250px;
	background:rgba(15, 77, 192,0.3);
	border-radius: 30px;

	padding : ;
	float: right;
	margin-top: 15px;
	margin-right: 10px;

}
.search-bar input{
	background:transparent;
	flex:1;
	border:0;
	outline: none;
	padding: 8px 8px;
	font-size: 15px;
	color:	#000;
	border-radius: 30px;
	padding-left: 5px;

}
::placeholder{
	color: #000;
	font-size: 12px;
	padding-left: 5px;
}



.button-search{
	background:transparent;
	flex:5;
	border:0;
	outline:none;
	color: #000;
}




h1{
  font-size: 45px;
  font-family: sans-serif;
	padding-left: 10px;
}
.colomboPage a{
  text-decoration: none;
  color: #03316F ;
}
h5{
  padding-left: 30px;
}
.loading-news{
  background-image: linear-gradient(to left, rgba(10, 79, 173 ,0), rgba(10, 79, 173 ,1));
  padding-left: 5px;
}
.loading-news h4{
  color:#fff;
}
.colomboPage img{
  width: 75px;
  height: 40px;
  padding-top: 10PX;
  padding-left: 10px;


}
.content{

  background-image: linear-gradient(to top, rgba(10, 79, 173,0), rgba(10, 79, 173,1));
  padding: 10px;
  border-radius: 5px;

}
.content h3{
  text-align: center;
  color: #000;
  font-size:30px ;
  font-family: sans-serif;
}




/*================ content body TOP NEWS ========*/

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

body { margin: 0; }
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; height: 60vh;}
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 33s slidy infinite;


}







.top-news{


  position: relative;
  /*background-image: linear-gradient(to top, rgba(13, 220, 161,0), rgba(13, 220, 161,1));*/
  padding-top: 10px;
  padding-bottom:20px;
  margin-top: 25px;
  border-radius: 10px;
  padding: 10px;
  height: 220px;
  background-repeat: no-repeat;
  background-size: 100% 150%;

}
.top-news:hover{
	background-color: #12DE81 ;
	opacity: 0.9;
	transition: 0.3s;
	transform: scale();
}

.top-news p{
  color: #fff;
  font-size: 20px;
  text-decoration: Bold;
  padding:10px;
  text-align: justify;
  font-family: sans-serif;
  padding-bottom: 25px;
}
.top-news h4{
  color: #fff;
  text-decoration: Bold;
  font-size: 36px;
  text-align: center;
}
.top-news a{
  text-decoration: none;
  color: #fff;
}

.More-News{
		 display: inline-block;
     background-color:#fff;
		 width: 120px;
		 height: 40px;
		 text-decoration: none;
		 border: 3px solid #000;
		margin-top: 30px;

}
.More-News h5{
		color: #000;
		padding: 10px;
		text-align: center;
		font-size: 16px;
}
.More-News a{
	text-decoration: none;
}
.More-News:hover{
	border:px solid #fff;
	background: #03316F;;
	transition: 0.5s;


}
.More-News h5:hover{
	color: #fff;
}











/*========About us page style===*/

.about h3{
  text-align: center;
  font-size: 36px;
  color:#03316F;
}
.about p{
  font-size: 20px;
  text-align: center;
}
.about span{
  font-size: 30px;
  color: #03316F;
  text-decoration: bold;
}

.about h6{
  font-size: 24px;
}


/*===== Feedback ===*/

.Feedback h3{
  text-align: center;
  font-size: 36px;
  color:#03316F;
}
.contact-col{

	margin-bottom: 40px;
  padding-top: 30px;
}



.contact-col div{
	display: flex;
	align-items: center;
	margin-bottom: 40px;
	}

.contact-col div .fa{
	font-size: 28px;
	color:  #03316F;
	margin: 10px;
	margin-right: 30px;
}
.contact-col div p{
	padding: 0;
	color: #555;
}



.contact-col input, .contact-col textarea{
	width: 100%;
	padding: 15px;
	margin-bottom: 17px;
	outline: none;
	border:1px solid #03316F;
	box-sizing: border-box;
}
.blue-btn{

	border-color: #03316F;
	width:30px;
}
.blue-btn:hover{
	color:#fff;
	background-color: #03316F;
}
.submit-reset input{
	width:150px;
	margin-right: 10px;
}


/*====Advertising page ====*/

.Advertising h3{
  text-align: center;
  font-size: 36px;
  color:#03316F;
}
.Advertising h4{
  font-size: 24px;
}

.contact-col label{
  font-size:
}


















/* -------------------- FOOTER -------------------*/
.footer{
 background-color:#03316F;
 padding: 5px;
 margin-bottom: 3px;
 height: 25px;
 position: ;
 bottom: 3px;
}
.footer p{
 text-align: center;
 color: #fff;
 font-size: 12px;
 font-family: Consolas;
}
.footer h6{
  color:#fff;
  text-align: center;
  font-size: 13px;

}



@media(max-width:1350px){
  .navbar ul li {
    display: block;
    text-align: center;

  }
	.navbar ul li:hover::after{
		width: 15%;
}
  .top-news h4{
    font-size: 18px;
  }
  .top-news p{
    font-size: 14px;
    padding:10px;
}
.top-news{
  padding-bottom:20px;
}
.footer p{
   font-size: 11px;
}
.footer h6{
  font-size: 12px;
}
.footer{
 background-color:#03316F;
 padding: 5px;
 bottom: 0px;
 height: 25px;
 overflow: hidden;
}

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

body { margin: 0; }
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; height: 30vh;}
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 33s slidy infinite;


}

}
